*{
    padding:0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {

    background-color: #12181B;
    height: 120vh;
    padding-top: 2px;
    padding-bottom: 2px;
}
.title{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display{
    color:rgb(240, 240, 47);
    font-size: 25px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile{
    border: 1px solid white;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: rgb(95, 95, 201);
}
.playerO {
    color: rgb(77, 151, 77);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset{
    background-color:whitesmoke;
    color: black;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    margin-left: 2em;
    cursor: pointer;
}








